@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand'); 

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

html,button{
    font-family: "Quicksand","sans-serif";
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}